.button {
  width: 360px;
  height: 30px;

  border-radius: 7px;
  border: none;

  background-color: rgba(43, 118, 216, 1);
  color: rgb(255, 255, 255);

  cursor: pointer;
}

.button:hover {
  background-color: rgba(101, 163, 216, 1);
  color: black;
}


/*

{ color: #2B76D9; }
{ color: #66A3D9; }
{ color: #15402C; }
{ color: #2A5928; }
{ color: #F2E6D8; }

{ color: rgba(43, 118, 216, 1); }
{ color: rgba(101, 163, 216, 1); }
{ color: rgba(21, 63, 43, 1); }
{ color: rgba(41, 89, 40, 1); }
{ color: rgba(242, 230, 215, 1); }

*/