.input-text {
    text-align: center;
    margin-top: 5px;
    width: 340px;
    padding: 7px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid rgb(255, 255, 255);
    outline: none;

    background-color: transparent;
    color: white;
}

.input-text:focus {
    border-bottom: 2px solid aquamarine;
}
